---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>Follow me on ...</h2>
        <ul class="icons">
          <li>
            <a href="https://twitter.com/furstblumier" class="icon brands fa-twitter" aria-label="Social">
              <span class="label">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://t.me/furstblumier" class="icon brands fa-telegram" aria-label="Social">
              <span class="label">Telegram</span>
            </a>
          </li>
          <li>
            <a href="https://itaku.ee/profile/furstblumier" class="icon solid fa-crow" aria-label="Social">
              <span class="label">Itaku</span>
            </a>
          </li>
          <li>
            <a href="https://inkbunny.net/furstblumier" class="icon solid fa-paintbrush" aria-label="Social">
              <span class="label">InkBunny</span>
            </a>
          </li>
          <li>
            <a href="https://www.furaffinity.net/user/reyatlanti" class="icon solid fa-dumpster-fire" aria-label="Social">
              <span class="label">FurAffinity</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/rexatlanti" class="icon brands fa-github" aria-label="Social">
              <span class="label">GitHub</span>
            </a>
          </li>
        </ul>
      </section>
      <p class="copyright">
        &copy; Fürst. Design: <a href="http://html5up.net">HTML5 UP</a>.<br />
         Images: Made by their respective artists. Check my socials for links!
      </p>
    </div>
    <div>
      <section>
        <h2>About me</h2>
        <p>
          I'm known by the name of my pokesona, Fürst. I've been a furry for more than 10 years now, but I don't interact too much with others, so I am probably fairly unknown. 
        </p>
        <p>
          Irl I work in IT (like 90% of the fandom) as a systems engineer, currently specializing in k8s clusters. I'm not a dev but I made this website myself for example.
        </p>
        <p>
          If you wanna get in touch shoot me a message on <div title="furstblumier">Discord</div> or <a href="https://t.me/furstblumier" target="_blank">Telegram</a>! :3 
        </p>
      </section>
    </div>
  </div>
</footer>
