---
import BaseImage from './BaseImage.astro';
import imageData from './json/images.json'

const { nsfw } = Astro.props

let filteredImages
if (nsfw) {
  filteredImages = imageData.images.filter(image => !image.sfw)
} else {
  filteredImages = imageData.images.filter(image => image.sfw)
}

---

<div  class="grid grid-cols-1 md:grid-cols-3 content-evenly pb-14">
  { 
    filteredImages.map((img) => (
      <BaseImage img={img} />
    ))
  }
</div>
